{
  "extends": [
    "airbnb-typescript",
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y",
    "react",
    "import",
    "@typescript-eslint",
    "react-hooks",
    "promise",
    "jest"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", "tsx"]
      }
    ],
    "import/no-unresolved": [
      2,
      {
        "caseSensitive": false
      }
    ],
    "import/no-cycle": [2, {
      "maxDepth": 1
    }]
  },
  "globals": {
    "window": true,
    "localStorage": true
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  }
}
