# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# builds
/build
/dist

# misc
yarn-debug.log*
yarn-error.log*
